body{
    background-color: #f1e9e3;
    font-family: Comfortaa, sans-serif;
}
.payment-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.card-informations{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 630px;
    margin-left: 100px;
    margin-top: 100px;
    padding: 50px;
    gap: 40px;

}
#payment-title{
    font: 400 25px Comfortaa, sans-serif;
}
.card-informations input{
    padding: 10px;
}
.grande{
    width: 280px;
}
.piccolo{
    width: 130px;
}
.first-line{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.second-line{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.riepilogo{
    padding: 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
    height: fit-content;
}
.summary{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.summary-row{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
}
#pay-button{
    background-color: #3CB371;
    color: #fff;
    padding: 10px 35px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .payment-container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .riepilogo{
        margin: 0;
    }
    .card-informations{
        margin-left: 0;
    }
}
@media (max-width: 750px) {
    .first-line{
        flex-direction: column;
    }
    .card-informations{
        width: 300px;
    }

}
