body{
    background-color: #F1E9E3;
}
.proposal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}
.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.ebook-inf{
    gap: 25px;
    display: flex;
    flex-direction: row;
}
#title{
    width: 300px;
}





.input-container {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    width: 200px;
}

.input-file{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.labeling {
    text-align: center;
}

.button {
    background-color: rgba(238, 113, 43, 0.32);
    color: #DC4712;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
}
.icon{
    width: 32px;
    height: auto;
}
.author-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
}
.genre-grid{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    flex-direction: column;
}
